.banner {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.row-right {
  padding-left: 20px;
}
@media (max-width: 575px) {
  .row-right {
    padding: 0;
  }
}
