body {
  background-color: #f4f5f5;
}

.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl20 {
  padding-left: 20px;
}

.mb20 {
  margin-bottom: 20px;
}
.card-p0 {
  .ant-card-body {
    padding: 0;
  }
}
.card-p10 {
  .ant-card-body {
    padding: 10px;
  }
}
.cp {
  cursor: pointer;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
