body {
  background-color: #f4f5f5;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
}
.flex-i {
  display: inline-flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-jc-a {
  display: flex;
  justify-content: space-around;
}
.flex-jc-b {
  display: flex;
  justify-content: space-between;
}
.flex-jc-c {
  display: flex;
  justify-content: center;
}
.flex-jc-d {
  display: flex;
  justify-content: flex-end;
}
.flex-item {
  display: flex;
  align-items: center;
}
.flex-item-end {
  display: flex;
  align-items: flex-end;
}
.flex-cc {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.fledx-wrap-wrap {
  display: flex;
  flex-wrap: wrap;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl20 {
  padding-left: 20px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.card-p0 {
  .ant-card-body {
    padding: 0;
  }
}
.card-p10 {
  .ant-card-body {
    padding: 10px;
  }
}
.cp {
  cursor: pointer;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
.highlight {
  background-color: #ffb73f;
}
